@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet"/> @*to link html with css*@
</head>
<body>
    @*Start Header*@
    @*HTML TAGS*@
    <center> 
    <nav class="mt-5">
             <a asp-controller="Home" asp-action="Index"     class="btn btn-primary">Home</a>
             <a asp-controller="Home" asp-action="Privacy"   class="btn btn-warning">Privacy</a>
             <a asp-controller="Home" asp-action="ContactUs" class="btn btn-success">Contact Us</a>
             <a asp-controller="Home" asp-action="AboutUs"   class="btn btn-warning">About Us</a>
    </nav>
    </center>
    

    @*HTML Helpers*@
    <center>
        @*<nav class="mt-5">
        @Html.ActionLink("Home" , "Index" , "Home" ,new {@class= "btn btn-Primary"})
        </nav>
        </center>*@
    <center>
        <div>
            @RenderBody()
        </div>
    </center>
   
    <center>
        @*Start Footer*@
        <div>
            <p>CopyRights & Copy : Hesham @DateTime.Now.Year</p>
        </div>
    </center>
    




</body>
</html>
