@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About Us</title>
</head>
<body>

  <center>
        @*Start Body *@
        <div>
            <h1>Welcome to About Us Page</h1>
        </div>

  </center>
   

 
</body>
</html>
