@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Contact Us</title>
</head>
<body>
    <center>
             @*Start Body *@
             <div>
                 <h1>Welcome to Contact Us Page</h1>
             </div>
    </center>
</body>
</html>
