@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Privacy</title>
</head>
<body>

    <center>

        @*Start Body *@
        <div>
            <h1>Welcome to Privacy Page</h1>
        </div>


    </center>
   
 

</body>
</html>
